input:-webkit-autofill { background-color: #ff0000 !important;}

#modalContent { z-index:9999 !important;}

#interest_user img { padding: 0 8px 0 0; vertical-align: baseline; }
#interest_user li a { cursor: pointer;}
#interest_user li {    background: none repeat scroll 0 0 #232320;  float: left;  line-height: 39px;  margin: 0 4px 20px 0;  padding: 0 13px;  text-align: center;  font-family: 'Open Sans', sans-serif;  font-size: 14px; color:#fff;}
#interest_user ul {   padding: 0;}

.newsletter-form { float:none;}
.newsletter-form .form-group { float:left;}
.btn { border-radius:0px;}

.chosen-container-multi .chosen-choices li.search-field input[type="text"] { height:100%; font-family: 'Open Sans', sans-serif; color:#000; font-weight:600; font-size:14px; line-height:29px; padding:5px 10px;}

.newsletter-form button[type="submit"] { float:left;}
#newsletter-manage-subscriptions-form .form-group { float:left;}
#newsletter-manage-subscriptions-form .default-button { float:left; margin-top:16px;}
.default-button {margin-right: 0px; padding: 4px 27px; margin-top: 0px; outline: none; font-size: 18px; color: #fff; font-weight: 700;
height: 40px; -webkit-box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.40); -moz-box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.40); box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.40); }

.date-no-float { width:100%;}
.container-inline-date .form-item { width:100%;}
.container-inline-date > .form-item { margin-right:0px}
.container-inline-date .date-padding { float:none; padding:0px;}
.container-inline-date .form-item .form-item { float: left; width: 30%; margin-right: 5%;}
.container-inline-date .form-item .form-item:last-child { margin-right:0px;}

.views-exposed-form .views-widget-filter-field_review_type_tid .form-item{ clear: both;}